{% extends 'base.html.twig' %}

{% block body %}
    <h1><a href="{{ path('blog_create') }}">Créer un post</a> </h1>
    <h1>Blog !</h1>
    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        <small>{{ post.publishedAt|date("d/m/Y") }}</small>
        <img src="{{ asset(post.image) }}" alt="{{ post.title }}">
        <small>{{ post.comments|length }} commentaire(s)</small>
        <a href="{{ path("blog_read", { id: post.id }) }}">Lire la suite</a>

         | <a href="{{ path('blog_update', {id: post.id}) }}">Modifier un post</a>
    {% endfor %}
    <ul>
        <li>
            {% if page > 1 %}
                <a href="{{ path('blog_index', {page: 1}) }}">Première page </a>
            {% endif %}
            {% if page > 1 %}
                <a href="{{ path('blog_index', {page:page-1}) }}">Précédent </a>
            {% endif %}
            {% for p in range %}
                <a href="{{ path('blog_index', {page: p}) }}"> {{ p }} </a>
            {% endfor %}
            {% if page < pages %}
                <a href="{{ path('blog_index', {page: page+1}) }}"> Suivant </a>
            {% endif %}
            {% if page < pages %}
                <a href="{{ path('blog_index', {page: pages}) }}">Dernière page </a>
            {% endif %}
        </li>
    </ul>
{% endblock %}
